# Project Variables, development and production
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Next Auth
AUTH_SECRET=JReX+0vk3eF6d34If+nisV3uBHQflY5uTeuomkMmHpM=

# Prisma + PostgreSQL
PG_PORT=5432
PG_HOST=localhost
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=HRIS
DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}?schema=public"

# JWT
JWT_SECRET=JReX+0vk3eF6d34If+nisV3uBHQflY5uTeuomkMmHpM=